<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @diss_tracker.UID %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @diss_tracker.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @diss_tracker.first_name %>
</p>

<p>
  <strong>Titile:</strong>
  <%= @diss_tracker.titile %>
</p>

<p>
  <strong>Chair:</strong>
  <%= @diss_tracker.chair %>
</p>

<p>
  <strong>Advisor:</strong>
  <%= @diss_tracker.advisor %>
</p>

<p>
  <strong>Reader2:</strong>
  <%= @diss_tracker.reader2 %>
</p>

<p>
  <strong>Reader3:</strong>
  <%= @diss_tracker.reader3 %>
</p>

<p>
  <strong>Reader4:</strong>
  <%= @diss_tracker.reader4 %>
</p>

<p>
  <strong>Reader5:</strong>
  <%= @diss_tracker.reader5 %>
</p>

<p>
  <strong>Data approved:</strong>
  <%= @diss_tracker.data_approved %>
</p>

<%= link_to 'Edit', edit_diss_tracker_path(@diss_tracker) %> |
<%= link_to 'Back', diss_trackers_path %>
